$color-grey-light-1:#f7f7f7;
$color-primary: green;
$color-primary-light: #00b7ff;
$color-primary-dark: #00804F;
$color-dark-gray: #777;
$color-white:#fff;
$color-black: #000;



//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;